.main-header {
  background-color: #6d56c1;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 10%;
  background-position-x: 50%;
  position: relative;
  margin-bottom: 40px;
}

.main-header:before {
  background: linear-gradient(
    54deg,
    rgba(74, 76, 179, 0.95) 34%,
    hsla(0, 34%, 71%, 0.95)
  );
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  z-index: 0;
}

.personal-profile {
  color: #fff;
  padding-top: 90px;
}

.personal-profile-avatar {
  border-radius: 5px;
  box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
  width: 90%;
  height: 380px;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  position: relative;
  top: 40px;
}

.personal-profile-name {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
}

.personal-profile-work {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.personal-profile-contacts {
  margin-bottom: 20px;
}

.contact-list {
  font-size: 16px;
  line-height: 24px;
}

dt {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.4;
}

dd {
  padding-left: 80px;
  margin-bottom: 15px;
}
a {
  transition: all 0.3s;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

.personal-profiles-social {
  margin-bottom: 35px;
}

.personal-profiles-social a {
  font-size: 24px;
  margin-right: 15px;
  opacity: .4;
  color: #fff;
}

.personal-profiles-social a:hover {
  opacity: 1;
}


@media screen and (max-width: 990px) {
    .personal-profile-avatar-wrapper {
    display: none;
  }
}
