p {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0;
}

.progress-list-skill-value {
  float: right;
}

.progress {
  height: 6px;
  margin-bottom: 30px;
  display: flex;
  overflow: hidden;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  background-color: #6d56c1;
  animation: progress 0.95s;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

