.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

#resume {
  border-top: 60px solid transparent;
  margin-top: -60px;
}

@media screen and (max-width: 760px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #resume {
    border-top: 50px solid transparent;
    margin-top: -50px;
  }
}
